# File write access allowed for FDs returned through Storage Access Framework
allow appdomain exfat:dir r_dir_perms;
allow appdomain exfat:file rw_file_perms;
